
body {
    overflow: hidden;
}

#toolset {
    width     : 100px;
    height    : 440px;
    position  : relative;
    left      : 30%;
    top       : 30%;
    background: #25233b;
}

#paint {
    position  : relative;
    left      : 37%;
    top       : 30%;
}

#colorset {
    position  : relative;
    left      : 28%;
    top       : 85%;
    width     : 860px;
}
 
#title {
    position  : relative;
    left      : 500px;
}

#penciltool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

#linetool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

#rectangletool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

#circletool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

#erasertool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

#resettool {
    background: #7a18fb; 
    color     : #f3f3f3;
    width     : 80px;
    height    : 25px;
    border-radius: 8px;
    transition: 0.1s;
}

button:hover {
    transform: scale(1.25);
}