{% extends "layout.html" %}
{% block content %}
    <div class="flex flex-col-reverse gap-y-8 justify-center items-center text-center">
    <div class="rounded-[30px] min-w-[150%] min-h-[100%]">
        <form class="flex flex-row justify-center text-center items-center space-x-10" action={{ url_for('predict') }} method="POST" accept=".png,.jpg,.jpeg" enctype="multipart/form-data">
            <label class="cursor-pointer transition-transform transform hover:scale-125 border-button-0 border-dashed border-4 bg-opacity-0 p-2 w-[50%] rounded-[10px]">
                <h1 class="uppercase text-default-text font-light tracking-widest text-sm">Select File</h1>
                <input class="hidden" type="file" id="file" name="file">
            </label>
            <input class="uppercase text-default-text font-light tracking-widest cursor-pointer transition-transform transform hover:scale-125 bg-button-0 p-3 w-[50%] rounded-[10px]" type="submit" id="submit" name="submit_button" value="Upload">
        </form>
    </div>
    {% if image != '' and prediction != '' %}
    <div class="flex flex-col-reverse justify-center items-center">
        <img class="min-w-[150%] min-h-[150%] my-8 rounded-[15px]" src={{ url_for('static', filename='uploads/' + image) }} >
        <div class="flex flex-row gap-x-4">
            <div class="flex flex-col justify-center items-center">
                <h1 class="uppercase font-black" id="prediction">Prediction: </h1>
            </div>
            <div class="flex flex-col">
                <img src={{ url_for('static', filename='moods/' + prediction + '.png') }} >
                <h2 class="uppercase font-black">{{ prediction }}</h2>
            </div>
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}