<!DOCTYPE html>
<html>
    <head>
        <title class="app-name">Character Mood Classifier</title>
        <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,200;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/742/742751.png">
    </head>
    <body oncontextmenu="return false">
        <!-- <header>
            <div class="container">
                <strong>
                    <nav>
                        <ul class="menu">
                            <li><a href="{{ url_for('home') }}">Home</a></li>
                            <li><a href="{{ url_for('about') }}">About</a></li>
                        </ul>
                    </nav>
                </strong>
            </div>
        </header> -->
        <div class="flex min-h-screen justify-center items-center text-center text-default-text bg-background">
            <div class="m-auto">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>