{% extends "layout.html" %}
{% block content %}
<div class="overflow-hidden" onload="pencil()">
    <div class="space-y-2">
                <div class="space-x-5" id="toolset">
                    <button id="penciltool"
                    class="px-3 uppercase py-2 rounded-[5px] bg-button-0 transition-transform transform hover:scale-110"
                        onclick="pencil()">Pencil</button>
                
                    <button id="erasertool"
                    class="px-3 uppercase py-2 rounded-[5px] bg-button-0 transition-transform transform hover:scale-110"
                        onclick="eraser()">Eraser</button>
                    <button id="resettool"
                    class="px-3 uppercase py-2 rounded-[5px] bg-button-0 transition-transform transform hover:scale-110"
                        onclick="reset()">Reset</button>
                        <button id="save" onclick="save()"
                        class="px-3 uppercase py-2 rounded-[5px] bg-button-0 transition-transform transform hover:scale-110"
                        >Predict</button>
                        
                </div>
                <div>
                    
                <div class="flex flex-row my-10 mx-3 text-center uppercase font-bold">Prediction {{ '==> ' }} <div id="result" ></div></div>

                </div>
                <div>
                        <canvas id="paint" width="300" height="300" class="my-5 rounded-[15px] cursor-crosshair"></canvas>
                </div>
    </div>
    
    <fieldset id="colorset">
        <table>
        </table>
        {# <label>file name</label>
        <input id="fname" type="text"> #}
        <div class="flex flex-row text-center justify-center space-x-5">
            <label>Width</label>   
                <button class="w-[40px] bg-button-0 transition-transform transform hover:scale-110 mx-3 rounded-full text-center justify-center items-center align-middle" id="pixel_plus" type="button" onclick="add_pixel()">+</button>
                <button class="w-[40px] bg-button-0 transition-transform transform hover:scale-110 mx-3 rounded-full text-center justify-center items-center align-middle" id="pixel_minus" type="button" onclick="reduce_pixel()">-</button>
            </div>            
        </div>
        </fieldset>
</body>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src=" {{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}